- content_for :sidebar do
  #quiz-list
    %li.nav-header 
      Quizzes
      = render :partial => 'quiz', :collection => @quizzes, :as => :quiz
  =link_to "Create new quiz", new_quiz_path, remote: true
  
