:plain
  $("#rounds_form table tr").append("#{escape_javascript(
    render :partial => 'quizzes/quiz_round', :collection => @quiz.quiz_rounds, :as => :quiz_round
    )}")
  $(".quiz-round").fadeIn();
    