.well
  %h2 Rounds
  %ul.thumbnails#quiz-rounds-area
    = render partial: 'quiz_rounds/quiz_round', collection: quiz.quiz_rounds, as: :quiz_round

:javascript
  $( "#quiz-rounds-area" ).sortable({
    handle: $('.sorty'),
    out: function(event,ui) {
      handleOut(ui.item);
    }
  });
  $( "#quiz-rounds-area" ).disableSelection();