.well#quiz_rounds-container
  %h2 Rounds
  %ul.thumbnails#quiz_rounds-area
    = render partial: 'quiz_rounds/quiz_round', collection: quiz.quiz_rounds, as: :quiz_round

:javascript
  $( "#quiz_rounds-area" ).sortable({
    handle: $('.sorty'),
    
    over: function () {
      removeIntent = false;
    },
    out: function () {
      removeIntent = true;
    },
    beforeStop: function (event, ui) {
      if(removeIntent == true){
        handleOut(ui.item);
      }
    }
  });
  $( "#quiz_rounds-area" ).disableSelection();