%li.span3.thumbnail.object_category{id: "object_category-#{object_category.id}", relation: "#{type_name(object_category.categorisable).downcase}-#{object_category.categorisable_id}" }
  %div.sorty Drag me
  .data
    = render "categories/details", category: object_category.category