%li.span2.thumbnail.category{id: "category-#{category.id}" }
  = render 'categories/details', category: category
:javascript
  $( ".category" ).draggable({ 
    revert: "invalid",
    helper: "clone"
  });