- content_for :content do
  =render 'layouts/quizzes/header'
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          .nav.nav-list
            = yield(:sidebar)
      .span6
        #quiz
          = content_for?(:quiz_content) ? yield(:quiz_content) : yield
          #quiz-info
          .row-fluid
            #quiz-rounds
          #quiz-categories
          #quiz-button
      .span3
        #rounds
    %hr
    =render 'layouts/quizzes/footer'
= render :template => 'layouts/application'

:javascript
  $( "#quiz-rounds" ).sortable();
  $( "#quiz-rounds" ).disableSelection();