- content_for :content do
  = yield
  #rounds_form
    %table
      %tr
= render :template => 'layouts/application'
/ 
/ - content_for :content do
/   = yield
/   #rounds_form
/     %ul
/ = render :template => 'layouts/application'
/ 
/ <div id="tab-container">
/ 
/   <ul>
/     <li><a href="#tab-1-div">Tab 1</a></li>
/     <li><a href="#that-other-tab">The Second Tab</a></li>
/     <li><a href="#lastly">Tab C</a></li>
/   </ul>
/   <div id="tab-1-div">
/     <h2>Heading 1</h2>
/     <p>This is the content of the first tab.</p>
/   </div>
/     <div id="that-other-tab">
/     <h2>Heading 2</h2>
/     <p>Stuff from the second tab.</p>
/   </div>
/   <div id="lastly">
/     <h2>Heading 3</h2>
/     <p>More stuff from the last tab.</p>
/   </div>
/ </div>